ChatTelegram.json
[
    {
        "id": "c35c0b080b0aaaa0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "1eb69b5218c84b19",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a132a63750e2bc9a",
        "type": "telegram bot",
        "botname": "CyberCheetas",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "7dabfb819959edc1",
        "type": "watson-text-to-speech",
        "z": "c35c0b080b0aaaa0",
        "name": "Ajudante",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "nz-lZpUp6ZzPwL6DH7OamCOPHB5NCP86dcSjGK-Mng9j",
        "payload-response": true,
        "service-endpoint": "https://api.au-syd.text-to-speech.watson.cloud.ibm.com/instances/7e55cc92-9c19-4c0e-acee-78d2988c64a3",
        "x": 340,
        "y": 380,
        "wires": [
            [
                "de3a8bfe22a8f642",
                "73e235d0f3dae1c5"
            ]
        ]
    },
    {
        "id": "de3a8bfe22a8f642",
        "type": "debug",
        "z": "c35c0b080b0aaaa0",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 240,
        "wires": []
    },
    {
        "id": "73e235d0f3dae1c5",
        "type": "function",
        "z": "c35c0b080b0aaaa0",
        "name": "function 1",
        "func": "msg.payload = {\n    chatId: \"973251269\",\n    type: \"voice\",\n    content: msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 500,
        "wires": [
            [
                "87e574b1d6110a32",
                "9af78663de59de6b"
            ]
        ]
    },
    {
        "id": "87e574b1d6110a32",
        "type": "telegram sender",
        "z": "c35c0b080b0aaaa0",
        "name": "CyberCheetas",
        "bot": "a132a63750e2bc9a",
        "haserroroutput": false,
        "outputs": 1,
        "x": 780,
        "y": 440,
        "wires": [
            [
                "952848ea22880fcc"
            ]
        ]
    },
    {
        "id": "952848ea22880fcc",
        "type": "debug",
        "z": "c35c0b080b0aaaa0",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 260,
        "wires": []
    },
    {
        "id": "9af78663de59de6b",
        "type": "debug",
        "z": "c35c0b080b0aaaa0",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 540,
        "wires": []
    },
    {
        "id": "4df09cb04d0dfe6a",
        "type": "telegram receiver",
        "z": "c35c0b080b0aaaa0",
        "name": "CyberCheetas",
        "bot": "a132a63750e2bc9a",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 120,
        "y": 380,
        "wires": [
            [
                "ebda166094f47d60"
            ],
            []
        ]
    },
    {
        "id": "ebda166094f47d60",
        "type": "function",
        "z": "c35c0b080b0aaaa0",
        "name": "function 2",
        "func": "msg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 500,
        "wires": [
            [
                "7dabfb819959edc1"
            ]
        ]
    },
    {
        "id": "57539d682b808efc",
        "type": "telegram receiver",
        "z": "1eb69b5218c84b19",
        "name": "",
        "bot": "",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "5a5739a7c6e62281",
                "20252f1e4e3143b4"
            ],
            []
        ]
    },
    {
        "id": "5a5739a7c6e62281",
        "type": "debug",
        "z": "1eb69b5218c84b19",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "20252f1e4e3143b4",
        "type": "switch",
        "z": "1eb69b5218c84b19",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 280,
        "wires": [
            [
                "ea57fd25cb062dd4"
            ],
            [
                "21574e9144a7424b"
            ]
        ]
    },
    {
        "id": "ea57fd25cb062dd4",
        "type": "function",
        "z": "1eb69b5218c84b19",
        "name": "function 3",
        "func": "msg.params = msg.payload.chatId;\nmsg.payload = msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 200,
        "wires": [
            [
                "48cb626fadd26a21",
                "bfb09ba2e7a5e83d"
            ]
        ]
    },
    {
        "id": "21574e9144a7424b",
        "type": "function",
        "z": "1eb69b5218c84b19",
        "name": "function 4",
        "func": "msg.params = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 320,
        "wires": [
            [
                "b17bcce996464f09",
                "1e3adff2eab91a56"
            ]
        ]
    },
    {
        "id": "bfb09ba2e7a5e83d",
        "type": "debug",
        "z": "1eb69b5218c84b19",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 100,
        "wires": []
    },
    {
        "id": "48cb626fadd26a21",
        "type": "watson-speech-to-text",
        "z": "1eb69b5218c84b19",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "",
        "langhidden": "",
        "langcustom": "",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "2kB9KHHVjagmVEyiQrCLY85d3LiWKMP0gtNnhrqNROEC",
        "payload-response": false,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-east.speech-to-text.watson.cloud.ibm.com/instances/0216487e-fae7-4a9b-b925-1a33a39471e5",
        "x": 700,
        "y": 200,
        "wires": [
            [
                "1af66e754fcf7498"
            ]
        ]
    },
    {
        "id": "1e3adff2eab91a56",
        "type": "watson-text-to-speech",
        "z": "1eb69b5218c84b19",
        "name": "Assistente",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "nz-lZpUp6ZzPwL6DH7OamCOPHB5NCP86dcSjGK-Mng9j",
        "payload-response": false,
        "service-endpoint": "https://api.au-syd.text-to-speech.watson.cloud.ibm.com/instances/7e55cc92-9c19-4c0e-acee-78d2988c64a3",
        "x": 710,
        "y": 300,
        "wires": [
            [
                "8ce0eac1581c5f5a"
            ]
        ]
    },
    {
        "id": "8ce0eac1581c5f5a",
        "type": "function",
        "z": "1eb69b5218c84b19",
        "name": "function 5",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 300,
        "wires": [
            [
                "2a54dac8f4329225",
                "06efafed99d42202"
            ]
        ]
    },
    {
        "id": "b17bcce996464f09",
        "type": "debug",
        "z": "1eb69b5218c84b19",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 380,
        "wires": []
    },
    {
        "id": "1af66e754fcf7498",
        "type": "function",
        "z": "1eb69b5218c84b19",
        "name": "function 6",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 200,
        "wires": [
            [
                "2a54dac8f4329225",
                "64333da022a2a81d"
            ]
        ]
    },
    {
        "id": "64333da022a2a81d",
        "type": "debug",
        "z": "1eb69b5218c84b19",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 120,
        "wires": []
    },
    {
        "id": "2a54dac8f4329225",
        "type": "telegram sender",
        "z": "1eb69b5218c84b19",
        "name": "",
        "bot": "",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1110,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "06efafed99d42202",
        "type": "debug",
        "z": "1eb69b5218c84b19",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 380,
        "wires": []
    }
]